# Crime and Housing

In [1]:
import pandas as pd 
import numpy as np
import seaborn as sns 
from scipy import stats

In [7]:
# load data sets
crime = pd.read_csv('crime-housing-austin-2015.csv')
population = pd.read_csv('AustinZipCodes.csv')

# clean columns and set to float data types
population['Population'] = population['Population'].str.replace(",", "").astype('float')
population['People / Sq. Mile'] = population['People / Sq. Mile'].str.replace(",", "").astype('float')

# remove rows where no Zip Code is given and convert to integers
crime = crime.dropna(subset='Zip_Code_Crime')
crime['Zip_Code_Crime'] = crime['Zip_Code_Crime'].astype(np.int64)

# count the number of crimes per zip code
crime_counts = crime.groupby('Zip_Code_Crime').agg({'Key':'count', 
                                                     'Medianhouseholdincome':'first', 
                                                     'Medianrent':'first', 
                                                     'Medianhomevalue':'first'}).rename(columns={'Key':'Count'})

# merge crime and population with demographics
crime_rate = pd.merge(crime_counts, population, left_on="Zip_Code_Crime", right_on='Zip Code', how='inner')
crime_rate['Crime_Rate'] = crime_rate.Count / crime_rate.Population * 100000
crime_rate['Medianhomevalue'] = crime_rate['Medianhomevalue'].str.replace("$", "").astype('float')
crime_rate['Medianrent'] = crime_rate['Medianrent'].str.replace("$", "").astype('float')
crime_rate['Medianhouseholdincome'] = crime_rate['Medianhouseholdincome'].str.replace("$", "").astype('float')
crime_rate.head(10)

,Count,Medianhouseholdincome,Medianrent,Medianhomevalue,#,Zip Code,Location,City,Population,People / Sq. Mile,National Rank,Crime_Rate
0,2103,68152.0,1590.0,338300.0,22,78701,"30.271653, -97.741553","Austin, Texas",3855.0,2326.65,"#3,995",54552.529183
1,1668,34734.0,766.0,175400.0,8,78702,"30.263909, -97.714495","Austin, Texas",22534.0,4501.98,"#2,015",7402.147865
2,738,92606.0,1183.0,621900.0,13,78703,"30.294204, -97.765114","Austin, Texas",19585.0,3491.54,"#2,753",3768.189941
3,2571,50248.0,940.0,338200.0,6,78704,"30.243128, -97.765874","Austin, Texas",43249.0,5001.96,"#1,713",5944.646119
4,1346,11917.0,1088.0,292500.0,1,78705,"30.293474, -97.738268","Austin, Texas",26825.0,11008.66,#519,5017.707363
5,237,93305.0,1018.0,243200.0,27,78717,"30.488309, -97.764829","Austin, Texas",8148.0,1081.05,"#6,119",2908.689249
6,186,NaN,NaN,NaN,43,78719,"30.184794, -97.682619","Austin, Texas",1765.0,93.88,"#14,377",10538.243626
7,482,32131.0,870.0,121000.0,19,78721,"30.269811, -97.683126","Austin, Texas",10124.0,2568.43,"#3,690",4760.964046
8,332,44917.0,930.0,265100.0,20,78722,"30.293272, -97.709068","Austin, Texas",6365.0,2567.53,"#3,692",5216.025137
9,2124,41869.0,817.0,176500.0,5,78723,"30.305341, -97.683344","Austin, Texas",30110.0,5175.95,"#1,640",7054.134839

# Overall Crime Rate Correlated with Financial Health

# T-Test Comparisons of Low vs High Income Zip Codes